.tm-logo {
        color: #48995b;
        font-size: 28px;
        font-weight: bold;
        margin: auto;
        display: block;
    }

    .subtitle {
        font-size: 16px;
        margin-bottom: 20px;
        color: #666 !important;
        margin-top: 0em!important;
    }

    .tm-header {
        z-index: 99;
        width: 100%;
        text-align: center;
        color: white;
        position: relative;
        margin-top: 8%;
    }

    .index-tab-navs {
        margin-bottom: 30px;
        font-size: 18px;
        text-align: center;
    }

    .tm-header .tm-header-inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 30rem;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px
    }

    .index-tab-navs {
        margin-bottom: 10px;
        font-size: 18px;
        text-align: center;
    }

    .index-tab-navs .navs-slider {
        position: relative;
        display: inline-block;
    }

    .index-tab-navs a {
        text-decoration: none;
        color: #666;
        float: left;
        width: 4em;
        line-height: 35px;
        opacity: .7;
        -ms-filter: "alpha(Opacity=70)";
        -webkit-transition: opacity .15s, color .15s;
        transition: opacity .15s, color .15s;
    }

    .index-tab-navs a:hover {
        opacity: 1;
        -ms-filter: "alpha(Opacity=100)";
        text-decoration: none;
    }

    .index-tab-navs a.active {
        opacity: 1;
        -ms-filter: "alpha(Opacity=100)";
        color: #48995b;
    }

    .index-tab-navs .navs-slider .navs-slider-bar {
        position: absolute;
        left: 0;
        bottom: -5px;
        margin: 0 .8em;
        width: 2.4em;
        height: 2px;
        background: #35a850;
        -webkit-transition: left .15s, background .5s;
        transition: left .15s, background .5s;
    }
    /*  表单样式  开始  */

    .group-inputs {
        padding: 0px;
        border: 1px solid #d8dee2;
        border-radius: 10px;
        background-color: #fff;
        width: 290px;
        margin: auto;
    }

    .group-inputs .input-wrapper:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .input-wrapper {
        position: relative;
        margin: auto;
        border-radius: 10px;
    }

    .input-wrapper input {
        color: #555;
        padding: 0.6em .8em;
        width: 100%;
        box-sizing: border-box;
    }

    .input-wrapper input,
    .input-wrapper input:focus {
        outline: none;
        border: 0;
        border-radius: 10px;
        box-shadow: none;
        background: #fff;
    }

    .input-wrapper input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px #fff inset;
        -webkit-text-fill-color: #555;
    }

    .input-wrapper+.input-wrapper {
        border-top: 1px solid #d8dee2;
    }

    .getVcode {
        position: absolute;
        right: 0px;
        width: 120px;
        height: 100%;
    }

    .getVcode input {
        text-align: right;
        color: #48995b;
    }

    .input_wrapper_focus {
        border: 0;
        outline-style: ;
        outline: #66afe9 dotted blur;
        outline-color: #66afe9;
    }

    .group-inputs .input-wrapper label.error {
        display: none;
        background: #fff;
        position: absolute;
        top: 0;
        right: 0px;
        text-align: right;
        padding: 0.6em 0.8em;
        color: #e3540b;
        border-radius: 10px;
        font-weight: normal;
        cursor: text;
        opacity: 1;
        -ms-filter: "alpha(Opacity=1)";
    }

    .group-inputs .input-wrapper label.error.is-visible {
        visibility: visible;
        opacity: 1;
        -ms-filter: "alpha(Opacity=100)";
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .group-inputs .input-wrapper label.error.highlighted {
        color: #ed707c;
        -webkit-transition: none;
        transition: none;
    }

    .group-inputs .input-wrapper label.error .switch-to-login {
        color: #787878;
        cursor: pointer;
    }

    .button-wrapper {
        width: 290px;
        margin: auto;
    }

    .sign-button {
        display: block;
        padding: 0;
        width: 290px;
        width: 100%;
        font-size: 15px;
        line-height: 41px;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        background: #489a5b;
        /*        background: -webkit-linear-gradient(top, #489a5b, #b6db36);
        background: linear-gradient(to bottom, #489a5b, #b6db36);*/
        border: 0px solid #1D80CF;
        border-radius: 10px;
        /*box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px rgba(50, 50, 50, .05);*/
        outline: 0;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .sign-button:active {
        color: #eee;
        border: 1px solid #6abd7d;
        background: -webkit-linear-gradient(top, #37894a, #37894a);
        background: linear-gradient(to bottom, #37894a, #37894a);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1), 0 1px 0 rgba(255, 255, 255, .1);
    }

    .loginIn {
        display: none;
    }

    .loginIn.active {
        display: block;
    }

    .loginUp {
        display: none;
    }

    .loginUp.active {
        display: block;
    }
    /*    弹出框  开始    */


    /*  表单样式  结束  */
    /*   remmber me & help    */

    .remember-me {
        float: left;
        color: #a9a9a9;
        filter: glow(color=black, strength=2);
        line-height: 1.1;
    }

    .remember-me input {
        margin-top: 1px!important;
    }

    .unable-login {
        float: right;
        color: #37894a;
    }

    .signin-misc-wrapper {
        width: 290px;
        padding-top: 20px;
        margin: auto;
    }

    .weibo-signup-wrapper {
        width: 290px;
        position: relative;
        height: 50px;
        text-align:center;
    }
    .weibo-signup-wrapper label {
        text-align: center;
    }
    .index-tab-navs a {
        line-height: normal;
    }

    .alertBg {
        background: #fff;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        z-index: -2;
        -webkit-transition: opacity .4s;
        transition: opacity .4s;
    }

    .canot-sign {
        float: right;
        color: #37894a;
        filter: glow(color=black, strength=2);
        line-height: 1.1;
    }

    .canot-sign a:hover {
        color: #5ca941;
        text-decoration: none;
    }

    .weiboSignUp {
        font-weight: normal!important;
        float: left;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #999;
    }

    .weibo-signup-wrapper a {
        float: left;
        position: relative;
        margin-left: 10px;
        margin-top: 9px;
        margin-bottom: 20px;
    }

    .topRadius_0 {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }



    .back-delect_main_Div {
        width: 100%;
        height: 26px;
    }

    .back-delect_main_Div div {
        padding: 10px;
    }

    .unable_Login_resetPw_groupInputs {
        width: 80%!important;
    }

    .unable_Login {
        display: none;
    }

    .unable_Login_resetPw {
        display: none;
    }

    .unable_Login_useVcode {
        display: none;
    }

    html {
        height: 100%;
    }

    body {
        margin: 0px;
        padding: 0px;
        height: 100%;
        min-width: 290px;
        overflow-y: hidden;
    }

    * {
        -webkit-font-smoothing: antialiased;
        font-family:'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif;
    }

    .main-color {
        color: #48995b!important;
    }

    .assit-color {
        color: #e3540b!important;
    }

    .main-color_666 {
        color: #666!important;
    }

    .main-color_999 {
        color: #999!important;
    }
    .submit:hover{background:#64b477;}
    .marg-top-20px{margin-top: 20px;}


