{% extends "include/base.html" %}
{% block main%}
{% load request_args %}
    <main class="main-cont content mCustomScrollbar">
            <div class="page-wrap">
                <!--开始::内容-->
                <section class="page-hd">
                    <header>
                        <h2 class="title">课程管理</h2>
                        <p class="title-description">
                        <!-- <a href="{% url 'anchor:anchor_add' %}" target="_blank">创建课程</a> -->
                        </p>
                    </header>
                    <hr>
                </section>
                <div class="panel panel-default">
                    <section id="unseen">
                            <form action="" method="get">

                                <div class="span6">

                              
                                
                                    <div class="form-group fl">
                                        <label class="control-label fl">课程标题:&nbsp;&nbsp;</label>
                                        <div class="fl">
                                            <input type="text" name="title" class="form-control phone"
                                                   aria-controls="dynamic-table" value="{{ request.GET|ck_request_args:'title' }}">
                                        </div>
                                    </div>
                                    <!-- <div class="form-group fl">
                                        <label class="control-label fl">姓名:&nbsp;&nbsp;</label>
                                        <div class="fl">
                                            <input type="text" name="name" class="form-control name"
                                                   aria-controls="dynamic-table" value="{{ request.GET|ck_request_args:'name' }}">
                                        </div>
                                    </div> -->

                                    <div class=" fl ">
                                        <div class="fl">
                                            <button class="btn btn-info fl search-user "
                                                    style="padding-left: 15px; padding-right: 15px;"
                                                    type="submit">查找
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                <tr>
                                    <th style="display: none"></th>
                                    <th hidden>标题</th>
                                    <th>讲师</th>
                                    <th class="numeric">创建日期</th>
                                   
                                    <th class="numeric">状态</th>
                                    <th class="numeric">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% load paginate_tags %}
                                {% paginate obj_list 10 %}

                                {% for obj in obj_list %}
                                    <tr>
                                        <td style="display: none" class="td-id"><input name="{{ objct.id }}" class="id"/>
                                        </td>
                                        <td hidden>{{ obj.title }}</td>
                                        <td>{{ obj.anchor.name }}</td>
                                        <td class="numeric">{{ user.create_time | date:"Y-m-d H:i" }}</td>
                             
                                        <td class="numeric ban_statue">
                                            {% if obj.status == 1 %}
                                            上架
                                            {% else %}
                                            待上架
                                            {% endif %}                                           

                                        </td>
                                        <td class="numeric opt">
                                            111111111
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="dataTables_info" id="dynamic-table_info">
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="dataTables_paginate paging_bootstrap pagination ">
                                        <ul>
                                            {% include 'include/pagination.html' %}
                                        </ul>

                                    </div>

                                </div>
                            </div>
                        </section>
                    </div>
                </section>
                </div>
                <!--开始::结束-->
            </div>
        </main>
     
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/anchor/js/func.js"></script>
{% endblock %}